
@{
    ViewData["Title"] = "Update";
}
@model EmployeeUpdateDto
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Default form</h4>
                        <p class="card-description">
                            Basic form layout
                        </p>
                        <form class="forms-sample" method="post" enctype="multipart/form-data">
                            <input hidden asp-for="@Model.getDto.Id"/>
                            <div asp-validation-summary="ModelOnly"></div>
                            <div class="form-group">
                                <label for="exampleInputUsername1">Name</label>
                                <input type="text" asp-for="@Model.postDto.Name" value="@Model.getDto.Name" placeholder="Name">
                                <span asp-validation-for="@Model.postDto.Name"></span>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputUsername1">About</label>
                                <input type="text" asp-for="@Model.postDto.About" value="@Model.getDto.About" placeholder="About">
                                <span asp-validation-for="@Model.postDto.About"></span>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputUsername1">Position</label>
                                <input type="text" asp-for="@Model.postDto.Position" value="@Model.getDto.Position" placeholder="Position">
                                <span asp-validation-for="@Model.postDto.Position"></span>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputUsername1">Image</label>
                                <input asp-for="@Model.postDto.FormFile" placeholder="Image">
                                <span asp-validation-for="@Model.postDto.FormFile"></span>
                            </div>
                            @for (int i = 0; i < Model.getDto.Icons.Count; i++)
                            {
                                <div class="form-group">
                                    <label for="exampleInputUsername1">SocialMedia</label>
                                    <input type="text" asp-for="@Model.postDto.Icons[i].Name" value="@Model.getDto.Icons[i].Name" asp-for="@Model.getDto.Icons[i].Name" placeholder="icon">
                                    <input type="text" asp-for="@Model.postDto.Icons[i].Url" value="@Model.getDto.Icons[i].Url" asp-for="@Model.getDto.Icons[i].Url" placeholder="icon">
                                    <span asp-validation-for="@Model.postDto.Icons"></span>
                                </div>
                            }
                            <div class="form-check form-check-flat form-check-primary">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input">
                                    Remember me
                                </label>
                            </div>
                            <button type="submit" class="btn btn-primary me-2">Submit</button>
                            <button class="btn btn-light">Cancel</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

